/* 

    Nizhamuddin Ahmad
    2501996360

*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&display=swap');



:root{
    /*-------- font-family --------*/
    --heading-font: 'PT Serif', serif;
    --para-font: 'Outfit', sans-serif;

    /*-------- Colors ----------*/
    --primary-color: #dd9d4c;           
    --secondary-color: #2d3436;          
    --body-color: #f6f1ed;               
    --white-color: #ffffff;


    /* ### Primary */
    --Pale--blue: hsl(225, 100%, 94%);
    --Bright--blue: rgb(56, 41, 224);
    /* ### Neutral */
    --Very--pale--blue: hsl(225, 100%, 98%);
    --Desaturated--blue: hsl(224, 23%, 55%);
    --Dark--blue: hsl(223, 47%, 23%);
    /* ### Addition*/
    --purple--:rgb(94, 94, 236);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html{
    font-size: 16px;
}

body{
    background-color: var(--Very--pale--blue);
}

img{
    max-width: 100%;
    height: auto;
}


.btn{
    color: white;
    background-color: var(--Dark--blue);
    font-family: var(--para-font);
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: 0.7rem 1.2rem;
    width: max-content;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    transform: translate(10px);
}

.heading{
    font-size: 2rem;
    margin-bottom: 10px;
}

.para-line{
    font-size: 1.3rem;
    font-weight: 200;
    font-family: var(--para-font);
}

.header{
    height: 100vh;
    background-image: url(/HCI/Individual/productUI/house2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: scale-down; */
    /* width: 100%; */
}
.header .container{
    padding:  19rem 6rem;
}

.logo{
    font-size: 2rem;
    line-height: 1.3;
    color: white;
    gap: 10px;
}

/* .logo i{
    font-size: 1rem;
} */

.hero-content .main-heading{
    font-size: 3rem;
    color: var(--Very--pale--blue);
    width: 30%;
    margin-bottom: 5rem;
}

.craft{
    height: 100vh;
}

.craft .container{
    padding: 7.5rem;
}

.craft .container .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4.5rem;
}

.craft .container .row .column{
    width: 100%;
}

.craft .container .row .column .heading{
    color: var(--Dark--blue);
    font-size: 5rem;
}

.craft .container .row .column img{
    width: 29rem;
    height: 29rem;
}



.products .container{
    padding: 7rem  7rem 10rem 7rem;
}

.products .container .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
}

.products .container .row .column{
    width: 100%;
}
.products .container .row .column .heading{
    margin-top: 5rem;
    font-size: 1.7rem;
}

.product .product-img, .product .name{
    cursor: pointer;
}

.product .product-img{
    height: 100%;
    width: 100%;
}

/* .product{
    transition: 0.5s;
} */

.product:hover{
    transform: translateY(-10px);
}

.product .name{
    font-size: 1.5rem;
    font-weight: 600;
}


.portfolios{
    height: 100vh;
    /* margin-bottom: 5rem; */
}
.portfolios .container{
    padding: 3rem;
    padding: 3rem 1rem 4rem 4rem;
}

.portfolios .container .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 2rem;
}


.portfolios .name{
    font-size: 1.8rem;
}

.portfolio .portfolio-img{
    width: 25rem;
    height: 25rem;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-position: center center; */
    background-image: url(/HCI/Individual/productUI/temp2.jpg);
    background-repeat: no-repeat;
    /* background-position: top center; */
}

.footer .container{
    padding: 5rem;
    width: 100%;
    color: white;
}

.footer .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 30px;
}

.footer .container .row .column{
    width: 100%;
}

.footer-heading{
    font-size: 1.2rem;
    width: 50%;
    /* color: white;     */
}

.white{
    font-size: 1.5rem;
    width: 75%;
}

.footer-distributed{
	background: var(--Very--pale--blue);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}


/* Footer left */
.footer-distributed .footer-left{
	float: left;
}

/* The company logo */
.footer-distributed h3{
	color:  var(--Dark--blue);
	font: normal 36px 'Raleway', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  var(--Dark--blue);
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  var(--Dark--blue);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */
.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color:black;
}

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:var(--Desaturated--blue);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  black;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}

.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
    border-radius: 20px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
    border-radius: 20px;
}

.footer-distributed form button{
	border-radius: 15px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
